* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    min-width: 100%;
    max-height: 50vh;
    transition: background 0.5s linear, color 0.5s linear;
}

a{
    text-decoration: none;
    color: #fff;
}

i{
    color: #000;
}

a:hover{
    transition: 1s;
    color: #000;
    transform: scale(1.1);
}

.init {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    font-family: monospace;
    background: rgb(255, 153, 0);
}

.busca{
    padding: 6px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1.3px 3px #000;
}

.init button{
    cursor: pointer;
    border: none;
    padding: 2px 10px;
    border-radius: 3px;
    background:rgb(90, 89, 89);
    color: #fff;
    box-shadow: 2px 2px 10px #000;
}

.init button:hover{
    transition: 0.8s;
    color: #000;
    background: #fff;
}

.error{
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center;
}

.erro{
    display: flex;
    flex-direction: column;
    color: #f14;
}

.info {
    background: #fff;
    box-shadow: 1px 2px 10px #7b7b7b;
    margin: 40px;
    display: flex;
    padding: 20px 35px;
    border-radius: 4px;
    justify-content: center;
}

.info label{
    margin-left: 10px;
    font-weight: bold;
}

.info form {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    gap: 10px;
}

.info input {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(90, 89, 89);
}

.Adiciona {
    padding: 4px;
    margin-left: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(90, 89, 89);
    background: rgb(255, 153, 0);
}

.info button {
    padding: 4px 12px;
}

.info button:hover {
    transition: 1s;
    background: #000;
    color: #fff;
}

.table {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
}

.row-table {
    background: rgb(255, 153, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 40px;
}

.body-table td {
    margin-top: 20px;
    border: 1px solid #000;
}


.button-delete {
    border: none;
    background: rgb(255, 153, 0);
    color: #000;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.button-delete:hover {
    transition: 0.6s;
    background: #000;
    color: #fff;
}

.nota-sucess {
    background: #14cd458e;
    color: #fff;
}

.nota-error {
    background: rgba(240, 14, 14, 0.418)
}

.end {
    margin-top: 600px;
    padding: 50px;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    background: rgb(255, 133, 0);
    justify-content: center;
}

.invisible{
    display: none ;
}

@media(max-width: 768px){
    .info input{
       width: 80%;
    }

    .table{
       padding: 20px;
       display: flex;
       flex-direction: column;
       gap: 20px;
    }

    .table th{
        margin-left: 20px;
    }

    .table td{
    padding: 8px;
    }
}

/* Tema Dark */

.theme{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 40%;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
}

body.dark{
    background: rgb(20, 20, 20);
    color: #fff;
}

body.dark label{
    color: rgb(41, 41, 41);
}


body.dark td{
    border: 1px solid #fff;
}

body.dark th{
    background: #fff;
    color: #000;
    font-weight: 600;
}
body.dark i{
    color: #fff;
}

body.dark .info{
    background: rgb(211, 211, 211);
    box-shadow: 1px 1px 5px #7b7b7b;
}

body.dark button{
    background: rgb(255, 173, 21);
}

body.dark button:hover{
    color: #fff;
    background: #7b7b7b;
}
.check{
    visibility: hidden;
}